<head>
	<%= stylesheet_link_tag "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<script type="text/javascript">

$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
    	dayClick: function(date, jsEvent, view) {
    		alert('Clicked on: ' + date.format());
    	},
    	eventClick: function(calEvent, jsEvent, view) {
    		alert('Event: ' + calEvent.title);
    	},
    	defaultView: 'agendaWeek',
    	height: 600,
    	header: {
    		left:   'title',
    		center: '',
    		right:  'today agendaWeek month prev,next'
    	},

    	events: [
    	<% (0..@hash_of_teachers.to_a.length-1).each do |i|%>
    	{
    		<% value = @hash_of_teachers.to_a[i][1] %>
    		title: '<%= value["teacher"] %>',
    		start: '<%= value["date"] + "T" + value["startTime"] %>',
    		end: '<%= value["date"] + "T" + value["endTime"] %>'
    	}<% if @hash_of_teachers.to_a.length-1 != i%>, <% end %>
    	<% end %>
    	]
    })

});
</script>
<h1>Homepage#index</h1>
<p>Find me in app/views/homepage/index.html.erb</p>

<div id='calendar' style="width:1000px; float:left; padding-right:20px;"></div>

<div style="float:auto">
	<%@hash_of_teachers.each do |class_number, other_data | %>

	<%=class_number %>
	<%end%>


	Hello world</br>
	this is</br>
	a bunch</br>
	of stuff</br>
	in a </br>
	long list </br>
	that could be </br>
	a list of courses
</div>