<head>
	<%= stylesheet_link_tag "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<script type="text/javascript">
function update_average_difficulty () {
  var arrOfEvents = $('#calendar').fullCalendar('clientEvents');
  var total = 0;
  var count = 0;
  for (var i = arrOfEvents.length - 1; i >= 0; i--) {
    total += parseInt(arrOfEvents[i]["difficulty"]);
    count+=1;
  };
  var average = total / count;
  document.getElementById('average_difficulty').innerHTML = "The average difficulty is: " + average;
}
var removedElements = [];
var hash_of_professors = [];
$(document).ready(function() {
  $('#calendar').fullCalendar({
   eventClick: function(calEvent, jsEvent, view) {
    toggleEvent(calEvent.id);
  },
  defaultView: 'agendaWeek',
  height: 600,
  header: {
    left:   'title',
    center: '',
    right:  'today prev,next'
  },
  events: [
  <% (0..@hash_of_professors.to_a.length-1).each do |i|%>
  <% (0..@hash_of_professors.to_a[i][1].length-1).each do |j|%>
  {
    <% value = @hash_of_professors.to_a[i][1][j] %> 
    title: '<%= value["title"] %>',
    id: '<%= @hash_of_professors.to_a[i][0]%>',
    start: '<%= value["date"] + "T" + value["startTime"] %>',
    end: '<%= value["date"] + "T" + value["endTime"] %>',
    difficulty: '<%= value["difficulty"] %>'
  }<% if @hash_of_professors.to_a.length-1 != i%>, <% end %>
  <% end %>
  <% end %>
  ]
});
  var object = document.getElementsByClassName('classList')
  for (var i = object.length - 1; i >= 0; i--) {
    object.item(i).addEventListener("click", function(){
      toggleEvent(this.id);
    });
  };

});

function toggleEvent (id) {
  if(removedElements[id] == true) //the element has been removed
  {
    //bring it back from hash_of_professors
    var newEvents = [];
    for (var i = hash_of_professors[id].length - 1; i >= 0; i--) {
        newEvents.push({
          title: hash_of_professors[id][i]["title"],
          id: hash_of_professors[id][i]["id"],
          start: hash_of_professors[id][i]["start"],
          end: hash_of_professors[id][i]["end"],
          difficulty: hash_of_professors[id][i]["difficulty"]
        });
      };
    $('#calendar').fullCalendar('addEventSource',{
      events : newEvents
    });
    $('#calendar').fullCalendar('rerenderEvents');
    removedElements[id] = false; //it's back to existing
  }
  else //it needs to be removed
  {
    hash_of_professors[id] = $('#calendar').fullCalendar('clientEvents', id);
    $('#calendar').fullCalendar('removeEvents', id);
    removedElements[id] = true; //it's been removed
  }
  update_average_difficulty();
}
</script>
<div class="page-header">
  <h1> HP2014 </h1>
</div>

<body>
  <p id='average_difficulty'>The average difficulty is: <%= @average_difficulty %></p>
  <div style="width: 100%; overflow: hidden;">
    <div id='calendar' style="width: 900px; float: left;"> </div>
    <div style="margin-left: 940px;">  <%@hash_of_professors.each do |id, other_data | %>
     <p id="<%=id%>" class="classList"> Course: <%=other_data[0]["title"] %> </br> </p>
     <%end%>
   </div>
 </div>
</body>